* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  /*display: flex;*/
  margin: 0;
  padding: 0;
}

html, body, .about, .main{
	height: 100%;
	width: 100%;
	/*display: block;*/
}

@media(max-width: 700px){
	.site-header{
		display: none;
	}
}
@media(min-width: 700px){
	.to-blog{
		display: none;
	}
}
.site-header{
	/*padding-left: 7%;*/
	/*padding-right: 7%;*/
	padding: 17px 7% 17px 7%;
}


.site-nav{
	float: right;
}

.site-title{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	color: #444444;
	/*color: #DC3522;*/
}

.site-title:hover{
	color: #DC3522;
	/*color: lightblue;*/
}

.site-link{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	padding: 0px 20px 0px 0px	;
	color: #444444;
	text-transform: uppercase;
}
.site-link:hover{
	color: #DC3522;
}

.fullstrip{
	background: url(../img/pagebackground.jpg);
	/*background-size: cover;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-left: 18%;
	padding-right: 18%;
	width: 100%;
	height: 15%;
}
@media(min-width: 700px){
	.fullstrip{
		padding-left: 18%;
		padding-right: 18%;
	}
}
@media(max-width: 700px){
	.fullstrip{
		padding-left: 7%;
		padding-right: 7%;
	}
}

.fullstrip-container{
	height: 100%;
	display: flex;
	align-items: center;
}

.fullstrip-title{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
}

.mainContainer{
	margin-top: 2%;
	width: 100%;
}
@media(min-width: 700px){
	.mainContainer{
		padding-left: 18%;
		padding-right: 18%;
	}
}
@media(max-width: 700px){
	.mainContainer{
		padding-left: 7%;
		padding-right: 7%;
	}
}

.mainContainer-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap-reverse;
}

@media(min-width: 700px){
	.mainContainer-left{
		width: 20%;
		float: left;
	}
	.mainContainer-right{
		width: 80%;
		padding-left: 4%;
		float: left;
	}
}
@media(max-width: 700px){
	.mainContainer-left{
		width: 100%;
		/*float: left;*/
	}
	.mainContainer-right{
		width: 100%;
		margin-bottom: 100px;
		/*padding-left: 4%;*/
		/*float: left;*/
	}
}

.myImage{
	border-radius: 45%;
	border: 2px solid lightgreen;
	margin-bottom: 20px;
}
@media(min-width: 700px){
	.myImage{
		width: 100%;
	}
}
@media(max-width: 700px){
	.myImage{
		width: 50%;
	}
}
.title{
	width: 100%;
	padding: 14px 15px;
	font-size: 18px;
	color: #a0a0a0;
	border-bottom: 2px solid #d3d2d2;
}

.content-area{
	width: 100%;
	padding: 20px 0;
}

.skill{
	width: 100%;
	/*background: #E34F42;*/
	/*color: #FFFFFF;*/
	font-size: 15px;
	padding: 8px 10px;
	margin: 6px 0;
	border-radius: 2px;
}

.html{
	/*color: #FFFFFF*/
	background-color: #E34F42;
}

.css{
	background-color: #80628B;
}

.javascript{
	background-color: #C6CCD5;
}

.koa{
	background-color: #4BBFA5;
}

.nodejs{
	background-color: #F39A3E;
}

h2{
	color: #444444;
	font-size: 32px;
	margin-bottom: 1%;
}

p{
	color: #3d3d3d;
	line-height: 1.5;
	font-size: 16px;
	word-break: break-word;
	margin-bottom: 3%;
}

