* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  /*display: flex;*/
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
	color: #444444;
}

a{
	text-decoration: none;
}

a:hover{
	/*color: #DC3522;*/
	/*text-decoration: underline;*/
}

html, body, .blog{
	height: 100%;
	width: 100%;
	/*display: block;*/
}

@media(max-width: 700px){
	.site-header{
		display: none;
	}
}

.site-header{
	padding: 17px 7% 17px 7%;
}


.site-nav{
	float: right;
}

.site-title{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	color: #444444;
	/*color: #DC3522;*/
}

.site-title:hover{
	color: #DC3522;
}

.site-link{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	padding: 0px 20px 0px 0px	;
	color: #444444;
	text-transform: uppercase;
}
.site-link:hover{
	color: #DC3522;
}

.fullstrip{
	background: url(../img/pagebackground.jpg);
	/*background-size: cover;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 15%;
}

@media(min-width: 700px){
	.fullstrip{
		padding-left: 18%;
		padding-right: 18%;
	}
}
@media(max-width: 700px){
	.fullstrip{
		padding-left: 7%;
		padding-right: 7%;
	}
}

.fullstrip-container{
	height: 100%;
	display: flex;
	display: -webkit-flex; /* Safari */
	align-items: center;
}

/*.fullstrip-title{
	height: 30px;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	z-index: 1;
}*/
@media(min-width: 700px){
	.fullstrip-title{
		display: flex;
		height: 30px;
		font-size: 32px;
		font-weight: bold;
		color: #fff;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		z-index: 1;
	}
	.fullstrip-title-mob{
		display: none;
	}
}
@media(max-width: 700px){
	.fullstrip-title{
		display: none;
	}
	.fullstrip-title-mob{
		display: flex;
		height: 30px;
		font-size: 32px;
		font-weight: bold;
		color: #fff;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		z-index: 1;
	}
}


.fullstrip-title-div div{
	padding: 0 5px 5px 5px;
	/*opacity: 0.5;*/
}
.fullstrip-super-tag{
	cursor: pointer;
}
.fullstrip-super-tag:hover{
	color: #F6E497;
}
.fullstrip-tag{
	cursor: pointer;
	font-size: 20px;
}
.fullstrip-tag:hover{
	color: #F6E497;
}
.fullstrip-tag-li{
	font-size: 20px;
	cursor: pointer;
	/*padding: 5px;*/
}
.fullstrip-tag-li:hover{
	color: #F6E497;
}

.mainContainer{
	margin-top: 2%;
	width: 100%;
	height: 100%;
}

@media(min-width: 700px){
	.mainContainer{
		padding-left: 18%;
		padding-right: 18%;
	}
}
@media(max-width: 700px){
	.mainContainer{
		padding-left: 7%;
		padding-right: 7%;
	}
}

.mainContainer-content{
	width: 100%;
	height: 100%;
	/*background-color: lightblue;*/
}

.post-wrap{
	/*background-color: grey;*/
	margin-bottom: 5%;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	/*border-radius: 25px;*/
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.post-name{
	padding: 9px 0 0;
}
@media (min-width: 700px){
	.post-name{
		font-size: 36px;
	}
}
@media (max-width: 700px){
	.post-name{
		font-size: 20px;
	}
}

.post-name a{
	color: #444;
	/*text-decoration: none;*/
}

.post-name a:hover{
	/*color: #B9121B;*/
	/*color: #4C1B1B;*/
	color: #BD8D46;
}

.post-date{
	color: #d1d1d1;
}

.post-excerpt{
	width: 100%;
	font-size: 18px;
	padding-bottom: 1%;
}
@media (min-width: 700px){
	.post-excerpt {
		display: block;
	}
}
@media (max-width: 700px){
	.post-excerpt {
		display: none;
	}
}

.post-tag{
	padding-right: 5px;
	color: #444;
}

.post-tag a {
	color: #444;
}

.post-tag a:hover{
	color: #DC3522;
}

.pagination{
	text-align: center;
	/*position: relative;*/
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: space-between;
	margin-bottom: 17%;
}

.pagination .previous{
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 9px;
	color: #d1d1d1;
	display: inline;
	cursor: pointer;
}

.pagination	.previous:hover{
	color: #444;
	border: 1px solid #444;

}

.pagination .page_number{
	color: #d1d1d1;
	padding-top: 8px;
	display: inline-block;
}

.pagination .next{
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 9px;
	color: #d1d1d1;
	display: inline;
	cursor: pointer;
}

.pagination .next:hover{
	color: #444;
	border: 1px solid #444;
}
@media (min-width: 700px){
	.about-me {
		display: none;
	}
}
@media (max-width: 700px){
	.about-me div{
		margin: auto;
		font-size: 25px;
		font-weight: bold;
		color: #444;
	}
	.about-me div:hover{
		/*margin: auto;*/
		cursor: pointer;
	}
	
}



.westEgg-title{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	/*background-color: grey;*/
}

.westEgg-title input{
	height: 100%;
	width: 100%;
	/*line-height: 40px;*/
	font-size: 20px;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	padding: 0 7px;
}

.westEgg-body{
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
}

.westEgg-body-img{
	height: 7%;
	width: 100%;
}



.westEgg-body-img div {
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 7px;
	color: #d1d1d1;
	cursor: pointer;
	display: inline;
	margin-right: 10px;
}

.westEgg-body-img div:hover{
	color: #444;
	border: 1px solid #444
}

.westEgg-body-edit{
	height: 93%;
	width: 100%;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	overflow-y : auto;
}

.westEgg-body-edit p{
	height: 100%;
	padding: 7px;
	width: 100%;
}

.westEgg-body-edit img{
	max-width: 90%;
	max-height: 300px;
}

.westEgg-sort{
	width: 100%;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	margin-bottom: 60px;
	/*padding: 10px 0px 0px 0px;*/
	/*display: flex;*/
}

.westEgg-sort-tag{
	width: 100%;
	padding: 2px 5px;
	color: #444;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
}

.westEgg-sort-tag-div{
	width: 100%;
	display: flex;
	display: -webkit-flex; /* Safari */
	padding: 5px 0;
}

.westEgg-sort-tag-div1{
	width: 10%;
	margin: auto;
	color: #D1DBBD;
	/*color: #01AA9D;*/
}

.westEgg-sort-tag-div2{
	width: 90%;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-wrap: wrap;
}

.westEgg-sort-tag-div2 div{
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 5px;
	color: #d1d1d1;
	cursor: pointer;
	/*display: inline;*/
	margin-right: 20px;
	margin-top: 2px;
	margin-bottom: 3px;
}

.westEgg-post{
	width: 100%;
	/*border: 1px solid #BFBFBF;*/
	/*box-shadow: 2px 2px 3px #aaaaaa;*/
	margin-bottom: 160px;
	display: flex;
	display: -webkit-flex; /* Safari */
}

.westEgg-post-author{
	height: 35px;
	/*height: 7%;*/
	width: 40%;
}

.westEgg-post-author input{
	height: 100%;
	width: 100%;
	font-size: 15px;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #BFBFBF;
	padding: 0 7px;
}

.westEgg-post-btn{
	margin-left: 2%;
	height: 35px;
	width: 12%;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	text-align: center;
	padding: 7px 0;
	color: #d1d1d1;
	cursor: pointer;
}

.westEgg-post-btn:hover{
	color: #444;
	border: 1px solid #444;
}

.aBlog{
	width: 100%;
	/*border: 1px solid #BFBFBF;*/
	/*box-shadow: 2px 2px 3px #aaaaaa;*/
	margin-bottom: 60px;
	padding: 10px;
}

.aBlog h2{
	padding-bottom: 10px;
	border-bottom: 1px solid #BFBFBF;
}

.blog-article{
	width: 100%;
}

.blog-article img{
	max-height: 400px;
	max-width: 100%;
}

.blog-info{
	width: 100%;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
	/*border-top: 2px solid #eaeaea;*/
	/*border-bottom: 2px solid #eaeaea;*/
	border-top: 1px solid #B1B3B1;
	border-bottom: 1px solid #B1B3B1;
}

.blog-info div{
	margin-right: 3%;
	text-align: center;
}

.blog-info-zan:hover{
	color:  #DC3522;
	cursor:	pointer;
}
.aBlog-footer{
	width: 100%;
	margin: 38px auto;
	border-top: 2px solid #eaeaea;
	padding: 32px 4px 0px 4px;
	padding-top: 32px;
}

.aBlog-footer-label{
	padding-bottom: 5px;
	/*color: #BFBFBF;*/
	color: #B1B3BF;
}

.aBlog-footer-edit{
	width: 100%;
	height: 150px;
	margin-bottom: 15px;
	overflow-y : auto;
	border: 1px solid #BFBFBF;
	/*padding-bottom: 5px;*/
}

.aBlog-footer-edit p{
	height: 100%;

}

.aBlog-footer-info-post-wraper{
	display: flex;
	display: -webkit-flex; /* Safari */
}

.aBlog-footer-info{
	padding-bottom: 0;
	width: 70%;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
}

.aBlog-footer-info input{
	margin-top: 5px;
	width: 70%;
	height: 25px;
}

.aBlog-footer-post{
	width: 30%;
	/*padding-bottom: 0px;*/
	border: 1px solid #d1d1d1;
	color: #d1d1d1;
	border-radius: 4px;
	/*padding: 7px 15px;*/
	/*padding: auto 15px;*/
/*	padding-top: 8px;
	padding-left: 18px;
	padding-right: 18px;*/
	/*display: inline;*/
	display: flex;
	display: -webkit-flex; /* Safari */
	font-size: 26px;
	/*text-align: center;*/
	cursor: pointer;
}
.aBlog-footer-post *{
	margin: auto;
	text-align: center;
}

.aBlog-footer-post:hover{
	color: #444;
	border: 1px solid #444;
}

.aBlog-footer-comment{
	display: flex;
	display: -webkit-flex; /* Safari */
}

.aBlog-footer-comment-info{
	width: 20%;
}

.aBlog-footer-comment-info-floor{

	border: 1px solid #d1d1d1;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	display: -webkit-flex; /* Safari */
	/*margin: auto;*/
	/*text-align: center;*/
	color: #444;
	border-radius: 4px;
}
@media(min-width: 700px){
	.aBlog-footer-comment-info-floor{
		height: 80px;
		width: 80px;
	}
	.aBlog-footer-comment-info-name{
		width: 80px;
	}
}
@media(max-width: 700px){
	.aBlog-footer-comment-info-floor{
		height: 50px;
		width: 50px;
	}
	.aBlog-footer-comment-info-name{
		width: 50px;
		font-size: 13px;
	}
}

.aBlog-footer-comment-info-floor div{
	margin:	auto;
}

.aBlog-footer-comment-info-name{
	display: flex;
	display: -webkit-flex; /* Safari */
	margin-top: 10px;
}

.aBlog-footer-comment-info-name div{
	margin:	auto;
	/*width: 100%;*/
}

.aBlog-footer-comment-content{
	width: 80%;
	border-left: 2px solid #eaeaea;
	padding-left: 6%;
}

@media (min-width: 700px){
	.aBlog-goTop{
		display: none;
		position: fixed;
		right: 60px;
		bottom: 60px;
		width: 50px;
		height: 50px;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.aBlog-goTop a{
		display: block;
		width: 50px;
		height: 50px;
		background: url(../img/goTop.png) 13px 10px no-repeat;
		text-indent: -2000px;
		opacity: 4;
	}
}
@media (max-width: 700px){
	.aBlog-goTop{
		display: none;
	}
}

.no-comment{
	text-align: center;
	color: #B1B3B1;
}

.site-side{
	width: 50%;
	height: 100%;
	position: fixed;
	left: -50%;
	z-index: 2;
	/*display: none;*/
}
.site-hide{
	width: 50%;
	height: 100%;
	position: fixed;
	right: 0;
	z-index: 2;
	display: none;
	/*background-color: lightblue;*/

}

.blogContent{
	/*left: 40%;*/
	height: 100%;
	width: 100%;
	position: absolute;
}

.side-container{
	height: 100%;
	width: 100%;
	padding: 20px 10px 0 10px;
}

.side-header{
	width: 100%;
	/*height: 20px;*/
	/*margin-top: 10px;*/
	font-size: 20px;
	font-weight: bold;
	color: #4078c0;
	/*border-bottom: 2px solid #eaeaea;*/
	padding-bottom: 20px;
	/*text-align: center;*/
}

.side-content-wrap{
	border-top: 2px solid #eaeaea;
	padding-top: 7px;
	/*padding-bottom: 7px;*/
}

.side-content-wrap-main{
	font-size: 20px;
	font-weight: bold;
	padding: 5px 10px;
	color: #4078c0;
}

.side-content-wrap-sub {
	padding-bottom: 5px;
	/*display: none;*/
}
.side-content-wrap-sub div{
	padding-top: 5px;
	padding-left: 20px;
	font-size: 18px;
	color: #4078c0;
