* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  /*display: flex;*/
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
	color: #444444;
}

a{
	text-decoration: none;
}

a:hover{
	/*color: #DC3522;*/
	/*text-decoration: underline;*/
}

html, body, .blog{
	height: 100%;
	width: 100%;
	/*display: block;*/
}



.site-header{
	/*padding-left: 7%;*/
	/*padding-right: 7%;*/
	padding: 17px 7% 17px 7%;
}


.site-nav{
	float: right;
}

.site-title{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	color: #444444;
	/*color: #DC3522;*/
}

.site-title:hover{
	color: #DC3522;
	/*color: lightblue;*/
}

.site-link{
	font-weight: lighter;
	font-size: 17px;
	text-decoration: none;
	padding: 0px 20px 0px 0px	;
	color: #444444;
	text-transform: uppercase;
}
.site-link:hover{
	color: #DC3522;
}

.fullstrip{
	background: url(../img/pagebackground.jpg);
	/*background-size: cover;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-left: 18%;
	padding-right: 18%;
	width: 100%;
	height: 15%;
}

.fullstrip-container{
	height: 100%;
	display: flex;
	align-items: center;
}

.fullstrip-title{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	/*margin-right: 3%;*/
}

.fullstrip-title div{
	color: #fff;
	margin-right: 10%;
	display: inline;
	cursor:	pointer;
	/*padding-right: 15%;*/
}

.fullstrip-title div:hover{
	color: #F6E497;
}

.fullstrip-super-tag{
	/*padding-right: 15%;*/
	margin-right: 20%;
}

.fullstrip-tag{
	/*color: #FCFAE1;*/
	font-size: 20px;
}

.mainContainer{
	margin-top: 2%;
	width: 100%;
	height: 100%;
	padding-left: 18%;
	padding-right: 18%;
}

.mainContainer-content{
	width: 100%;
	height: 100%;
	/*background-color: lightblue;*/
}

.post-wrap{
	/*background-color: grey;*/
	margin-bottom: 5%;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	/*border-radius: 25px;*/
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.post-name{
	padding: 9px 0 0;
	font-size: 36px;
}

.post-name a{
	color: #444;
	/*text-decoration: none;*/
}

.post-name a:hover{
	/*color: #B9121B;*/
	/*color: #4C1B1B;*/
	color: #BD8D46;
}

.post-date{
	color: #d1d1d1;
}

.post-excerpt{
	font-size: 18px;
	padding-bottom: 1%;
}

.post-tag{
	padding-right: 5px;
	color: #444;
}

.post-tag a {
	color: #444;
}

.post-tag a:hover{
	color: #DC3522;
}

.pagination{
	text-align: center;
	/*position: relative;*/
	display: flex;
	justify-content: space-between;
	margin-bottom: 17%;
}

.pagination .previous{
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 9px;
	color: #d1d1d1;
	display: inline;
	cursor: pointer;
}

.pagination	.previous:hover{
	color: #444;
	border: 1px solid #444;

}

.pagination .page_number{
	color: #d1d1d1;
	padding-top: 8px;
	display: inline-block;
}

.pagination .next{
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	padding: 9px;
	color: #d1d1d1;
	display: inline;
	cursor: pointer;
}

.pagination .next:hover{
	color: #444;
	border: 1px solid #444;
}